/*
 * Styles specific to new and modify log files
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

@media (max-width: 1023px) {
	.container-modify-left,.container-modify-right {
		float: none;
		padding: 0px 20px 20px 20px;
	}
}

@media (min-width: 1024px) {

	.container-modify-left {
		position: absolute;
		left: 0;
		left: auto;
		top: 0;
		width: 80%;
		bottom: 0;
	}

	.container-modify-right {
		position: absolute;
		right: 0;
		top: 0;
		width: 20%;
		bottom: 0;
	}

}

.log_body > textarea {
	display: inline-block;
	width: 98%;
}

.log_attachments {
	display: block;
}

.new_log_button {
	margin-right: 5px;
	margin-top: 10px;
	height: 30px;
}

#error_block {
	display: none;
	margin-bottom:0;
	color:$red-100;
	padding-bottom:0;
}

#files > div {
	float:left;
	margin: 20px;
}

#list_existing_attachments > div {
	float:left;
	margin: 20px;
}

.clear {
	clear: both;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
	input {
		cursor: pointer;
		direction: ltr;
		font-size: 23px;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(-300px, 0px) scale(4);
	}
}

.upload-progress {
	opacity: 0.5;
}

.upload-progress-loader {
	display: none;
}

/* Paste area styles */
#paste-area {
	display: none;
	position: absolute;
	left: -99em;
}

#back_button {
	display: inline-block;
}

#cancel_editing_x {
	cursor: pointer;
}

#cancel_editing_button {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.remove_property {
	cursor: pointer;
}

.new_property_header {
	background-color: $gray-300;
}

/* Override multiselection colors */
.container-modify-right{
	.multilist_item {
		color: $green-200;
	}
	.multilist_clicked, .multilist_clicked:hover {
		background-color: $green-100;
		color: white;
		a{
			color:$green-200;
			&:hover{
				color:$gray-400;
			}
		}
	}
}

//overwrite bootstrap
pre{
	white-space:pre-wrap;
	word-wrap:normal;
	border:none;
	background-color:transparent;
}

