/*
 * Styles specific to new and modify log files
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

@media (max-width: 1023px) {

	.container-modify-left {
		float: none;
		padding: 0px 20px 20px 20px;
	}

	.container-modify-right {
		float: none;
		padding: 0px 20px 20px 20px;
	}
}

@media (min-width: 1024px) {

	.container-resize3 {
		position: fixed;
		left: 80%;
		top: 45px;
		width: 5px;
		bottom: 0px;
		z-index: 501;
	}

	.container-resize3 > div {
		position:relative;
		height: 100%;
		width: 100%;
	}

	.container-resize3 > div:hover {
		cursor: col-resize;
	}

	.container-modify-left {
		position: absolute;
		left: 0px;
		left: auto;
		top: 45px;
		width: 80%;
		bottom: 0px;
	}

	.container-modify-right {
		position: absolute;
		right: 0px;
		top: 45px;
		width: 20%;
		bottom: 0px;
	}

	/* Scrollable columns START*/
	.container-scroll {
		position: absolute;
		top: 5px;
		right: 0px;
		left: 5px;
		bottom: 5px;
		overflow-y: auto;
	}

	.container-scroll-last-one {
		position: absolute;
		top: 5px;
		right: 5px;
		left: 5px;
		bottom: 5px;
		overflow-y: auto;
	}
	/* Scrollable columns END*/
}

.log_body > textarea {
	display: inline-block;
	width: 98%;
}

.log_attachments {
	display: block;
}

.new_log_button {
	margin-right: 5px;
	margin-top: 10px;
	height: 30px;
}

#error_block {
	display: none;
}

#files > div {
	float:left;
	margin: 20px;
}

#list_existing_attachments > div {
	float:left;
	margin: 20px;
}

.clear {
	clear: both;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button > input {
	cursor: pointer;
	direction: ltr;
	font-size: 23px;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(-300px, 0px) scale(4);
}

.upload-progress {
	opacity: 0.5;
}

.upload-progress-loader {
	display: none;
}

/* Paste area styles */
#paste-area {
	display: none;
	position: absolute;
	left: -99em;
}

#back_button {
	display: inline-block;
}

#cancel_editing_x {
	cursor: pointer;
}

#cancel_editing_button {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.remove_property {
	cursor: pointer;
}

.new_property_header {
	background-color: #eeeeee;
}

/* Override multiselection colors */

.multilist_item {
	color: #468847;
}
.multilist_clicked, .multilist_clicked:hover {
	background-color: #5ab45a;
	color: white;
}