/*
 * CSS for multiselection list module.
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

.multilist {
	list-style-type: none;
	@include space-reset;
	display: block;
	//padding-bottom: 20px;
	border-top:1px solid $blue-gray-700;

	&:first-child{
		border-top:0;
	}
	.multilist_header {
		padding:10px 10px 3px;
		font-weight: bold;
		color: $gray-100;
		background-color:$blue-gray-500 !important;
		cursor: pointer;
	}

	.multilist_filter {
		background-color: $blue-gray-500 !important;
		border-top:1px solid $blue-gray-700;
		.filters_filter {
			margin-left: 10px;
		}
		.filters_filter{
			color:white;
		}
		input.filter_search {
			display:inline-block;
			margin: 5px;
			border:1px solid $gray-900;
			color:$green-200;
			//need to set these to overwrite padding from bootstrap
			padding-top:4px;
			padding-bottom:4px;
			font-size:$sm-font;
			width: 70%;
			height:100%;
			@include border-radius(3px);
			&:focus{
				background-color:lighten($green-100, 50%);

				//overwrite
				outline:none;
				box-shadow:none;
			}
		}

	}

	li{
		background-color:white;
		&:nth-child(odd){
			background-color:$gray-200;
		}
		&:hover{
			background-color: $gray-400;
		}
	}
	.multilist_item {
		padding-left: 27px;
		padding-top: 3px;
		padding-bottom: 3px;
		display: block;
		color: $blue-200;
		cursor: pointer;
		word-wrap: break-word;
		overflow:hidden;
		background-color:transparent !important;
		.multilist_icons{
			display:none;
			z-index:506;
		}
		&:hover{
			.multilist_icons.allow_display{
				display:block;
			}
		}
		a i.glyphicon{
			padding:3px;
			@include border-radius(3px);
			color:$gray-950;
			&.glyphicon-pencil{
				color: $blue-200;
			}
			&.glyphicon-trash{
				color: $pink-100;
			}
			&:hover{
				cursor:pointer;
				color:$blue-green-200;
			}
		}
	}
	.multilist_clicked, .multilist_clicked:hover {
		background-color:mix($pink-100, $gray-200, 50%) !important;
		color: $gray-100;
		$list-count: 1;
		@each $type, $colorname  in $tag-colors {
			$list-type : '';
			@if $list-count != 1{
				$list-type: $list-count;
			}
			&.list#{$list-type}{
				background-color:mix($colorname, $gray-200, 50%) !important;
			}
			$list-count: $list-count + 1;
		}

	}
	.list {
		font-weight: bold;
	}

	.list5 input {
		margin:0px;
		width: 90%;
		font-size:$sm-font;
		height:100%;
	}
}

#datepicker_from {
	margin-bottom: 3px;
}

.vertical-align {
	vertical-align: top;
}

.multilist-container{
	position:relative;
	height:100%;
	#min-multilists{
		$bgcolor: $blue-green-200;
		$hovcolor: $blue-gray-700;
		$wid: 5px;
		z-index:502;
		position:absolute;
		width:$wid;
		background-color:$bgcolor;
		display:inline-block;
		top:0;
		bottom:0;
		right:0;
		transition:background-color .25s, width .2s;
		cursor:pointer;
		box-shadow:-1px 0px 1px 1px rgba(0,0,0,.2);
		$size: 15px;
		opacity:.65;
		border-left:1px solid $gray-950;
		&:before{
			width: 0;
			height: 0;
			content: '';
			position:absolute;
			top:50%;
			opacity:.7;
			right:0;
			transform:translateY(-50%);
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-right: $size solid $bgcolor;
			transition:border .5s, width .5s;
		}
		&:hover{
			width:7px;
			background-color:$hovcolor;
			&:before{
				$size:16px;
				border-top: $size solid transparent;
				border-bottom: $size solid transparent;
				border-right: $size solid $hovcolor;
			}
		}
		&.closed{
			left:-$wid/2;
			z-index:505;
			position:fixed;
			border-right:1px solid $gray-950;
			border-left:0;
			&:before{
				left:0;
				right:auto;
				border-right: 0;
				border-left: $size solid $bgcolor;
			}
			&:hover{
				&:before{
					border-left: $size solid $hovcolor;
				}
			}
		}
		&.min-right{
			border-right:1px solid $gray-950;
			border-left:0;
			left:0;
			right:auto;
			box-shadow:1px 0px 1px 1px rgba(0,0,0,.2);
			&:before{
				left:0;
				right:auto;
				border-right: 0;
				border-left: $size solid $bgcolor;
			}
			&:hover{
				&:before{
					border-left: $size solid $hovcolor;
				}
			}

			&.closed{
				right:0;
				left:auto;
				border-left:1px solid $gray-950;
				border-right:0;
				&:before{
					right:0;
					left:auto;
					border-left: 0;
					border-right: $size solid $bgcolor;
				}
				&:hover{
					&:before{
						border-left: 0;
						border-right: $size solid $hovcolor;
					}
				}
			}
		}

	}
}

//.toggle-filters {}
//.toggle-from {}

@media (max-width: 1023px) {
	#min-multilists {
		display:none !important;
	}

}