/*
 * CSS for multiselection list module.
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

.multilist {
	list-style-type: none;
	@include space-reset;
	display: block;
	padding-bottom: 20px;

	.multilist_header {
		padding:10px 10px 3px;
		font-weight: bold;
		color: $gray-100;
		background-color:$blue-gray-700;
		cursor: pointer;
	}

	.multilist_filter {
		background-color: lighten($green-100, 15%);

		.filters_filter {
			margin-left: 10px;
		}

		input.filter_search {
			display:inline-block;
			margin: 5px;
			border:2px solid $green-100;
			color:$green-200;
			//need to set these to overwrite padding from bootstrap
			padding-top:2px;
			padding-bottom:2px;
			font-size:$sm-font;
			width: 70%;
			height:100%;
			&:focus{
				background-color:lighten($green-100, 50%);
			}
		}

	}

	.multilist_item {
		padding-left: 27px;
		padding-top: 3px;
		padding-bottom: 3px;
		display: block;
		color: $blue-200;
		cursor: pointer;
		&:hover{
			background-color: white;
		}
		a i.glyphicon{
			padding:3px;
			@include border-radius(3px);
			color:$gray-950;
			&.glyphicon-pencil{
				color: $blue-200;
			}
			&.glyphicon-trash{
				color: $pink-100;
			}
			&:hover{
				cursor:pointer;
				color:$blue-green-200;
			}
		}
	}
	.multilist_clicked, .multilist_clicked:hover {
		background-color: $blue-100;
		color: white;
	}
}

.list {
	font-weight: bold;
}

//.list2, .list3, .list4, .list5 {}

.list5 input {
	margin:0px;
	width: 90%;
	font-size:$sm-font;
	height:100%;
}

#datepicker_from {
	margin-bottom: 3px;
}

.vertical-align {
	vertical-align: top;
}

//.toggle-filters {}
//.toggle-from {}