/*
 * CSS for multiselection list module.
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

.multilist {
	list-style-type: none;
	@include space-reset;
	display: block;
	padding-bottom: 20px;
}

.multilist_item {
	padding-left: 27px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	color: $blue-200;
	cursor: pointer;
	&:hover{
		background-color: white;
	}
}

.multilist_header {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 3px;
	font-weight: bold;
	color: $gray-950;
	background-color: $gray-350;
	cursor: pointer;
}

.multilist_filter {
	background-color: $gray-350;
}

.filters_filter {
	margin-left: 10px;
}

input.filter_search {
	display:inline-block;
	margin: 5px;

	//need to set these to overwrite padding from bootstrap
	padding-top:0;
	padding-bottom:0;
	font-size:$sm-font;
	width: 70%;
	height:100%;
}

.multilist_clicked, .multilist_clicked:hover {
	background-color: $blue-100;
	color: white;
}

.list {
	font-weight: bold;
}

//.list2, .list3, .list4, .list5 {}

.multilist_icons {
	display: none;
}

.list5 input {
	margin:0px;
	width: 90%;
	font-size:$sm-font;
	height:100%;
}

#datepicker_from {
	margin-bottom: 3px;
}

.vertical-align {
	vertical-align: top;
}

//.toggle-filters {}
//.toggle-from {}