/*
 * CSS for multiselection list module.
 *
 * @author: Dejan Dežman <dejan.dezman@cosylab.com>
 */

.multilist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	padding-bottom: 20px;
}

.multilist_item {
	padding-left: 27px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	color: #0088cc;
	cursor: pointer;
}

.multilist_item:hover{
	background-color: #ffffff;
}

.multilist_header {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 3px;
	font-weight: bold;
	color: #999999;
	background-color: #e3e3e3;
	cursor: pointer;
}

.multilist_filter {
	background-color: #e3e3e3;
}

.filters_filter {
	margin-left: 10px;
}

input.filter_search {
	height: 15px;
	display:inline-block;
	margin: 5px;
	padding: 4px 6px 4px 6px;
	width: 70%;
}

.multilist_clicked, .multilist_clicked:hover {
	background-color: #82bcd9;
	color: #ffffff;
}

.list {
	font-weight: bold;
}

.list2, .list3, .list4, .list5 {}

.multilist_icons {
	display: none;
}

.list5 > input {
	margin:0px;
	width: 120px;
	height:15px;
}

#datepicker_from {
	margin-bottom: 3px;
}

.vertical-align {
	vertical-align: top;
}

.toggle-filters {}

.toggle-from {}