.log_body > textarea {
	display: inline-block;
	width: 98%;
}

.log_attachments {
	display: block;
}

.new_log_button {
	margin-right: 5px;
	margin-top: 10px;
	height: 30px;
}

#error_block {
	display: none;
}

#files > div {
	float:left;
	margin: 20px;
}

#list_existing_attachments > div {
	float:left;
	margin: 20px;
}

.clear {
	clear: both;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button > input {
	cursor: pointer;
	direction: ltr;
	font-size: 23px;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(-300px, 0px) scale(4);
}

.upload-progress {
	opacity: 0.5;
}

.upload-progress-loader {
	display: none;
}

/* Paste area styles */
#paste-area {
	display: none;
	position: absolute;
	left: -99em;
}

#back_button {
	display: inline-block;
}