/*
 * Common styles used in all files
 *
 * @author: Dejan DeÅ¾man <dejan.dezman@cosylab.com>
 */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.version {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

.top-margin {
	margin-top: 60px;
}

/* Style log START */
.log {
	display: block;
	cursor: pointer;
	border-top: 1px solid #dddddd;
	padding: 5px;
	position: relative;
}

.log:hover {
	background-color: #ffffff;
}

.log > img {
	margin-bottom: 3px;
}

.log_light {
	background-color: #f5f5f5;
}

.log_dark {
	background-color: #f2f2f2;
}

.log_click {
	background-color: #82bcd9 !important;
}

.log_click > span {
	color: white;
}

.log_click:hover {
	background-color: #82bcd9;
}
.log-last {
	display: block;
	cursor: pointer;
	border-top: 1px solid #dddddd;
	padding: 5px;
}

.log-last:hover {
	background-color: #eeeeee;
}

.log_history {
	margin-left: 20px;
	padding-left: 5px;
	border-left: 1px solid #ddd;
}

.log_history_light {
	background-color: #fbfbfb;
}

.log_history_dark {
	background-color: #f9f9f9;
}
/* Style log END */

.olog-nav {
	background-color: #eeeeee;
	margin: 0;
	padding: 7px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.well {
	padding: 0px;
	margin: 0px;
}

@media (max-width: 1023px) {

	.container-left {
		float: none;
		padding: 0px 20px 20px 20px;
	}

	.container-middle {
		float: none;
		padding: 0px 20px 20px 20px;
	}

	.container-right {
		float: none;
		padding: 0px 20px 20px 20px;
	}

	.container-middle-right {
		float: none;
		padding: 0px 20px 20px 20px;
	}

	/*
	 * Back to top button
	 */
	#back_to_top_button {
		position:fixed;
		bottom: 5px;
		right: 5px;
		width: 50px;
		height: 50px;
		background-color: #0088cc;
		border: 1px solid #cccccc;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
				border-radius: 4px;
		cursor: pointer;
		text-align: center;
		opacity: 0.6;
		display: block;
	}

	#back_to_top_button > i {
		margin-top: 15px;
	}
}

@media (min-width: 1024px) {

	.container-resize {
		position: fixed;
		left: 20%;
		top: 45px;
		width: 5px;
		bottom: 0px;
		z-index: 501;
	}

	.container-resize > div {
		position:relative;
		height: 100%;
		width: 100%;
	}

	.container-resize > div:hover {
		cursor: col-resize;
	}

	.container-resize2 {
		position: fixed;
		left: 50%;
		top: 45px;
		width: 5px;
		bottom: 0px;
		z-index: 501;
	}

	.container-resize2 > div {
		position:relative;
		height: 100%;
		width: 100%;
	}

	.container-resize2 > div:hover {
		cursor: col-resize;
	}

	.container-left {
		position: absolute;
		left: 0px;
		top: 45px;
		width: 20%;
		bottom: 0px;
	}

	.container-middle {
		position: absolute;
		left: 20%;
		width: 30%;
		top: 45px;
		bottom: 0px;
	}

	.container-right {
		position: absolute;
		right: 0px;
		top: 45px;
		width: 50%;
		bottom: 0px;
	}

	.container-middle-right {
		position: absolute;
		right: 0px;
		top: 45px;
		width: 80%;
		bottom: 0px;
	}

	/* Scrollable columns START*/
	.container-scroll {
		position: absolute;
		top: 5px;
		right: 0px;
		left: 5px;
		bottom: 5px;
		overflow-y: auto;
	}

	.container-scroll-middle {
		position: absolute;
		top: 5px;
		right: 0px;
		left: 5px;
		bottom: 5px;
		overflow-y: auto;
	}

	.container-scroll-last-one {
		position: absolute;
		top: 5px;
		right: 5px;
		left: 5px;
		bottom: 5px;
		overflow-y: auto;
	}
	/* Scrollable columns END*/

	#back_to_top_button {
		display: none;
	}
}

#load_log {
	display:none;
}

.float_right {
	float: right;
}

.float_right_padding {
	padding: 3px;
}

.close_label, .close_label:hover, .close_label:focus {
	color: white;
	text-decoration: none;
}

.user_dropdown_menu {
	padding: 10px;
}

.search_input {
	display: inline-block;
	width: 70%;
	padding-right: 40px !important;
}

#search-query-clean {
	position:relative;
	left: -30px;
	top: 5px;
	z-index: -1;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

#search-button {
	position: relative;
	left: -15px;
}

.form-search-box {
	margin: 5px;
	margin-bottom: 0px;
}

.form-search-box > div {
	width: 90%;
}

.search-checkbox {
	padding-bottom: 5px;
}

.log_title {
	padding: 7px 7px 7px 7px;
	margin: 0;
	border-bottom: 1px solid #dddddd;
}

.log_body {
	padding: 10px;
	border-bottom: 1px solid #dddddd;
	background-color: white;
}

.log_title > h5 {
	padding:0;
	margin: 0;
}

.log_details {
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #dddddd;
	background-color: #eeeeee;
}

.display_none {
	display: none;
}

.log_show_details {
	font-weight: normal;
	text-decoration: none;
	padding-left: 10px;
}

.log_show_details:hover {
	text-decoration: none;
	color: #0088cc;
}

.log_attachments {
	padding: 5px;
	margin: 0;
	background-color: #eeeeee;
	border-bottom: 1px solid #dddddd;
	display: none;
}

.log_properties {
	padding: 5px;
	margin: 0;
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
}

.disable_selecting_text {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
}

.property_body {
	display: none;
}

.attachment_info {
	color: #aaaaaa;
}

.login_error {
	color: red;
	display: none;
}

#new_logbook_error_block {
	display: none;
}

#load_log_attachments > a > img {
	margin-bottom: 3px;
}

#attachments_size_dropdown {
	display: none;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

#top_container {
	display: block;
}

.clear {
	clear: both;
}

/*#log_description {
	display: inline-block;
	width: 98%;
	background: transparent;
	border: none;
	resize: none;
	cursor: default;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
}*/

.margin-left {
	margin-left: 10px;
}

.log_view_details {
	font-weight: bold;
	font-size: 13px;
	color: #bbbbbb;
}

.property_header {
	cursor: pointer;
	background-color: #eeeeee;
}

.show_history {
	text-align: center;
}

.history_separator {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	height: 1px;
	background-color: #ddd;
	border: none;
}

.log_header {
	padding-bottom: 5px;
}

.log_header_right {
	position: absolute;
	right: 5px;
	top: 5px;
	padding-bottom: 5px;
}